body {
    font-family: Arial;
    background: linear-gradient(120deg, #74ebd5, #ACB6E5);
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.summary {
    margin-bottom: 20px;
}

.income {
    color: green;
    margin-right: 10px;
}

.expense {
    color: red;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    width: 95%;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

.card {
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.card.income {
    border-left: 5px solid green;
}

.card.expense {
    border-left: 5px solid red;
}